.title, footer > section > div > h2, main > .proyects > div > h2, main > .proyects > ul > li > a > h4, main > .tecnologies h2, main > .about > h2, main > .about > h1, main > .divFullstackContact > .textDivFullstackContact > h2, header > nav > div > h2 {
  font-size: 35px;
  font-weight: 900;
  background: linear-gradient(45deg, #00ff88 26%, #00feff 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 30px 0;
  transition: 1s;
}

.title:hover, footer > section > div > h2:hover, main > .proyects > div > h2:hover, main > .proyects > ul > li > a > h4:hover, main > .tecnologies h2:hover, main > .about > h2:hover, main > .about > h1:hover, main > .divFullstackContact > .textDivFullstackContact > h2:hover, header > nav > div > h2:hover {
  cursor: default;
  text-shadow: 0 0 30px #00feff;
}

@media only screen and (min-width: 768px) {
  .title, footer > section > div > h2, main > .proyects > div > h2, main > .proyects > ul > li > a > h4, main > .tecnologies h2, main > .about > h2, main > .about > h1, main > .divFullstackContact > .textDivFullstackContact > h2, header > nav > div > h2 {
    font-size: 40px;
  }
}
header {
  padding: 0 15px;
}
header > nav {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #262626;
  margin: 25px 0;
  margin-bottom: 0;
}
header > nav > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  padding: 10px;
}
header > nav > div > h2 {
  padding-left: 10px;
  text-align: left;
}
header > nav > .divHam {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header > nav > .divHam > .hamburger {
  cursor: pointer;
  margin: 0 10px;
}
header > nav > .divHam > .hamburger > .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
header > nav > .divHam .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
header > nav > .divHam .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
header > nav > .divHam .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
header > ul {
  padding: 0 10px;
  width: 100%;
  max-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 1s;
  background-color: #262626;
  overflow: hidden;
  margin-bottom: 25px;
  border-top: 1px solid white;
}
header > ul > li {
  padding: 10px 10px;
  padding-left: 20px;
  font-size: 20px;
}
header > ul > li > a {
  color: white;
}

.navActive {
  max-height: 264px;
}

@media only screen and (max-width: 400px) {
  header > nav > div > h2 {
    font-size: 25px;
  }
}
.contactButton, main > .proyects > div > a, main > .tecnologies > div > a, main > .divFullstackContact > .textDivFullstackContact > a {
  font-size: 25px;
  padding: 10px 20px;
  margin: 0 0 30px;
  border: 1px solid #00feff;
  background: linear-gradient(45deg, #00ff88 26%, #00feff 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.contactButton:hover, main > .proyects > div > a:hover, main > .tecnologies > div > a:hover, main > .divFullstackContact > .textDivFullstackContact > a:hover {
  background-color: linear-gradient(45deg, #00ff88 26%, #00feff 78%);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #262626;
  transform: scale(1.1);
  box-shadow: 0 0 20px #00feff;
}

@media only screen and (min-width: 768px) {
  .contactButton, main > .proyects > div > a, main > .tecnologies > div > a, main > .divFullstackContact > .textDivFullstackContact > a {
    font-size: 30px;
  }
}
main > .divFullstackContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main > .divFullstackContact > div {
  height: 0%;
  width: 0%;
}
main > .divFullstackContact > div > img {
  display: none;
}
main > .divFullstackContact > .textDivFullstackContact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > .divFullstackContact > .textDivFullstackContact > h2 {
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  main > .divFullstackContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  main > .divFullstackContact > div {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main > .divFullstackContact > div > img {
    width: 60%;
    display: initial;
  }
  main > .divFullstackContact > .textDivFullstackContact {
    height: 100%;
    width: 50%;
  }
}
main > .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main > .about > h1 {
  font-size: 35px;
  padding-top: 0;
}
main > .about > p {
  padding: 0 20px 20px;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  main > .about {
    padding: 0 10%;
  }
  main > .about > p {
    font-size: 20px;
  }
}
.containerSliderVertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.containerSliderVertical > ul {
  width: 180px;
  height: 75px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  border: 1px solid #00feff;
}
.containerSliderVertical > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  color: white;
  padding: 10px;
  cursor: default;
  text-shadow: 0 0 10px #00feff;
}

main > .tecnologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > .tecnologies > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main > .tecnologies > div p {
  padding: 0 40px 20px;
  color: white;
  text-align: center;
}
main > .tecnologies > .technologiesdivimg {
  scroll-margin-top: 0px;
}

@media only screen and (min-width: 768px) {
  main > .tecnologies {
    flex-direction: row;
  }
  main > .tecnologies > div {
    width: 50%;
  }
  main > .tecnologies > .technologiesdivimg {
    width: 50%;
    scroll-margin-top: 30px;
  }
  main > .tecnologies p {
    font-size: 20px;
  }
}
.section, footer > section, footer > .copyright, main > section {
  background-color: #262626;
  margin: 50px 0;
  height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main > .proyects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main > .proyects > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main > .proyects > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main > .proyects > ul > li {
  text-align: center;
  padding: 10px;
}
main > .proyects > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: 1s;
  padding: 10px;
  background-color: #262626;
}
main > .proyects > ul > li > a > h4 {
  font-size: 25px;
  padding: 0px 0 10px;
}
main > .proyects > ul > li > a > p {
  text-align: left;
  padding: 0 40px;
  color: white;
}
main > .proyects > ul > li > a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 254, 255, 0.2);
}

@media only screen and (min-width: 768px) {
  main > .proyects {
    flex-direction: row;
  }
  main > .proyects > div {
    width: 50%;
  }
  main > .proyects > ul {
    width: 50%;
  }
}
main {
  padding: 0 15px;
}
main p {
  font-size: 20px;
}

.controlesForm, footer > section > div > form input,
footer > section > div > form textarea {
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #3b3b3b;
  font-size: 25px;
  padding: 10px;
  margin: 15px 0;
  color: white;
}

.controlesForm:hover, footer > section > div > form input:hover,
footer > section > div > form textarea:hover {
  border-bottom: 1px solid #00feff;
}

.controlesForm:focus, footer > section > div > form input:focus,
footer > section > div > form textarea:focus {
  border-bottom: 1px solid #00feff;
}

footer {
  padding: 0 15px;
}
footer .submit {
  font-size: 25px;
  padding: 10px 20px;
  margin: 0 0 30px;
  border: 1px solid #00feff;
  background: transparent;
  margin-top: 30px;
  cursor: pointer;
  transition: 1s;
  color: #00feff;
}
footer .submit:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #00feff;
}
footer > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 30px;
}
footer > section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer > section > div > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
footer > section > div > div > a > i {
  font-size: 40px;
  color: #3a3a3a;
  transition: 1s;
}
footer > section > div > div > a:hover > i {
  transform: scale(1.1);
  color: #00feff;
}
footer > section > div > form {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}
footer > section > div > form div {
  width: 100%;
  padding: 0 10px;
  height: fit-content;
}
footer > section > div > form div > input {
  width: 100%;
}
footer > section > div > form > .divComments {
  width: 100%;
}
footer > section > div > form > .divComments > textarea {
  width: 100%;
}
footer > .copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
footer > .copyright > p {
  font-size: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.complete {
  border-bottom: 1px solid red;
}

@media only screen and (min-width: 768px) {
  footer > section {
    flex-direction: row;
  }
  footer > section > div > div > a > i {
    font-size: 50px;
  }
  footer > section > div > form div {
    width: 50%;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
  scroll-margin-top: 30px;
}

*::selection {
  background-color: #00feff;
  color: black;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

body {
  background-color: #212121;
  min-height: 1000px;
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  body {
    padding: 0 50px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    padding: 0 10%;
  }
}/*# sourceMappingURL=style.css.map */