@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    transition: transform 1s;
}

body {
    background-color: #0A192F;
    display: grid;
    grid-template-areas: "header header header" "main main main" "contacto contacto contacto" "aside aside aside" "footer footer footer";
}


/* PAGINA */

main {
    grid-area: main;
    text-align: center;
    padding-bottom: 10px;
    animation: slide-in-top 4s ease-out 1 alternate both;
}

aside {
    margin-top: 50px;
}

@keyframes rainbow {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1500px);
        transform: translateY(-1500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    font-size: 27px;
    padding: 0 0 0 20px;
    animation: rainbow 5s linear infinite alternate both;
}

main>.acercaDe {
    margin-top: 20px;
}

main>.acercaDe>.divAcercaDeTexto {
    padding-bottom: 20px;
    padding-top: 20px;
}

main>.acercaDe>.divAcercaDeTexto>p {
    margin-bottom: 40px;
    text-align: left;
}

main>.acercaDe>.divAcercaDeTexto>a {
    padding: 20px;
    margin-top: 20px;
    background: none;
    border-radius: 10px;
    border: #64FFDA 1px solid;
    box-shadow: 0 0 10px #64FFDA;
    transition: 0.5s;
}

main>.acercaDe>.divAcercaDeTexto>a:hover {
    background: #64FFDA;
    font-weight: bold;
    color: black;
}

main>section {
    margin: 50px;
}

main>.proyectos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "titulo titulo" "shopmarket shopmarket" "lab3 lab3";
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.shopmarket {
    grid-area: shopmarket;
}

.laboratorio3 {
    grid-area: lab3;
}

main>.proyectos>.divProyectosTitulo {
    padding: 20px;
    padding-bottom: 0;
    grid-area: titulo;
}

main>.proyectos>.proyecto {
    background-color: #153565;
    box-shadow: 0 0 20px #3a79d6;
    transition: 0.5s;
    margin-top: 10px;
}

main>.proyectos>.proyecto:hover {
    box-shadow: 0 0 20px #64FFDA;
    transform: scale(1.1);
}

main>.proyectos>.proyecto:hover h4 {
    color: #64FFDA;
}

main>.proyectos>.proyecto:hover i {
    color: #64FFDA;
}

main>.proyectos>.proyecto>div {
    padding-top: 15px;
    text-align: center;
    float: left;
    width: 40%;
    height: 80px;
}

main>.proyectos>.proyecto>.tituloProyecto {
    padding-top: 35px;
    text-align: center;
    float: left;
    width: 60%;
    height: 80px;
}

main>.proyectos>.proyecto>.tituloProyecto {
    text-align: left;
}

main>.proyectos>.proyecto>div>i:hover {
    color: #64FFDA;
}

main>.proyectos>.proyecto>p {
    margin-top: 10px;
    margin-top: 1px solid white;
    padding: 20px;
    padding-top: 80px;
}

main>.proyectos>.proyecto>div>a>h4 {
    margin-top: 15px;
    font-size: 17px;
}

main>.proyectos>.proyecto>div>i {
    font-size: 50px;
}

main>.trabajos>.divTecnologias>h3 {
    padding-bottom: 10px;
}

main>.trabajos>.divTecnologias {
    width: 100%;
    text-align: center;
    grid-area: tecnologias;
}

main>.trabajos>.divTecnologias>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

main>.trabajos>.divTecnologias>ul>li {
    padding: 3px;
    text-align: center;
    font-size: 19px;
    width: 50%;
    height: 70px;
    transition: 0.5s;
}

main>.trabajos>.divTecnologias>ul>li>p:hover {
    transform: scale(1.5);
    color: #64FFDA;
    cursor: default;
}

main>.trabajos>.divTecnologias>ul>li>p {
    text-align: center;
}

main>section {
    scroll-margin-top: 100px;
}

main>.contacto,
#experiencia,
#divTecnologias {
    scroll-margin-top: 100px;
}

main>section>#experiencia,
#divTecnologias {
    margin: 50px;
    margin-right: 0;
    margin-left: 0;
}

main>.trabajos>.divExperiencia {
    scroll-margin-top: 30px;
    grid-area: experiencia;
}

main>.trabajos>.divExperiencia>p {
    padding: 10px;
    padding-bottom: 30px;
    text-align: left;
}

main,
aside {
    margin: 10px;
    margin-bottom: 00;
}

aside {
    grid-area: aside;
    text-align: center;
    height: fit-content;
}

aside>div {
    padding: 10px;
    border-top: 1px solid white;
}

aside>.lineaVertical {
    padding-bottom: 0;
}

aside>div>ul>a>i {
    box-sizing: border-box;
    width: 32%;
    color: white;
    padding: 10px;
    font-size: 50px;
}

aside>div>ul>a>.fa-instagram:hover {
    color: #CD1B74;
    box-shadow: 0 0 10px #CD1B74;
}

aside>div>ul>a>.fa-linkedin-in:hover {
    color: #1CA0F1;
    box-shadow: 0 0 10px #1CA0F1
}

aside>div>ul>a>.fa-whatsapp:hover {
    color: lime;
    box-shadow: 0 0 10px lime
}

.contacto {
    width: 100%;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto>form {
    padding: 10px;
    width: 90%;
    margin-top: 10px;
    border: #64FFDA 1px solid;
}

.contacto>form>input,
textarea,
button {
    width: 100%;
    background: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: white 1px solid;
    box-shadow: 0 0 10px #64FFDA;
}

.contacto>form>button:hover {
    background: #64FFDA;
    color: black;
    font-weight: bold;
}

form {
    grid-area: contacto;
}

footer {
    grid-area: footer;
    height: fit-content;
    text-align: center;
    /* transform: translateY(-50px); */
    height: fit-content;
}

footer>div {
    padding: 5px;
    width: 100%;
}

main>.trabajos {
    margin-bottom: 0;
}

@media only screen and (min-width:500px) and (max-width:1023px) {
    .proyectos,
    .trabajos {
        margin-left: 10%;
        margin-right: 10%;
    }
    .proyecto h4 {
        font-size: 25px;
    }
    main>.trabajos>.divTecnologias>ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main>.trabajos>.divTecnologias>ul>li {
        padding: 10px;
        text-align: left;
        font-size: 19px;
    }
}

@media only screen and (min-width:1000px) {
    body>main {
        padding: 10%;
        padding-top: 0;
        padding-bottom: 10px;
    }
    main>.proyectos {
        grid-template-areas: "titulo titulo" "shopmarket lab3";
    }
    .proyecto h4 {
        font-size: 25px;
    }
    .contacto {
        height: 400px;
    }
    section>form {
        height: 100%;
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;
        grid-template-areas: "nombre email telefono""comentarios comentarios comentarios" "reset reset reset" "submit submit submit";
    }
    section>form>.txtNombre {
        grid-area: nombre;
    }
    section>form>.txtEmail {
        grid-area: email;
    }
    section>form>.txtTelefono {
        grid-area: telefono;
    }
    section>form>.txtComentarios {
        grid-area: comentarios;
    }
    section>form>.btnReset {
        grid-area: reset;
    }
    section>form>.btnSubmit {
        grid-area: submit;
    }
    section>form>input,
    textarea,
    button {
        font-size: 16px;
    }
    main>.trabajos {
        grid-template-columns: 50% 50%;
        display: grid;
        grid-template-areas: "experiencia tecnologias";
    }
    main>.proyectos>.proyecto>div>a>h4 {
        margin-top: 15px;
        font-size: 25px;
    }
    .menu {
        display: flex;
    }
    .showMenu {
        display: flex;
    }
}