    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: left;
        scroll-behavior: smooth;
        line-height: 1.6;
    }
    
    .scrollToTop-btn {
        z-index: 999;
        position: fixed;
        background-color: #3a6cf4;
        color: #fff;
        width: 45px;
        height: 45px;
        right: 0;
        bottom: 10px;
        font-size: 22px;
        text-align: center;
        line-height: 45px;
        border-radius: 3px;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .scrollToTop-btn.active {
        right: 20px;
        opacity: 1;
        pointer-events: auto;
    }
    
    @keyframes entradaDesdeArriba {
        0% {
            transform: translateY(-1500px);
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    main>section {
        width: 100%;
        min-height: 100vh;
    }
    
    p {
        display: block;
    }
    
    a {
        display: block;
    }
    
    main>.presentacion {
        scroll-margin-top: 100px;
        padding: 0 20px 20px 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    main>.presentacion>* {
        width: 100%;
    }
    
    main>.presentacion>h1 {
        font-size: 50px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    main>.presentacion>h2 {
        font-size: 40px;
        padding: 10px;
        background-color: #64FFDA;
        box-shadow: #64FFDA 0 0 20px;
        height: fit-content;
    }
    
    main>.presentacion>p {
        font-size: 30px;
        padding: 10px;
    }
    
    main>.presentacion>a {
        color: black;
        border: 2px solid #64FFDA;
        padding: 20px;
        border-radius: 10px;
        width: 140px;
        font-weight: 900;
        transition: 1s;
        text-align: center;
        height: fit-content;
    }
    
    main>.presentacion>a:hover {
        transform: scale(1.1);
        background-color: #64FFDA;
        color: black;
        box-shadow: 0 0 10px #64FFDA;
    }
    
    main .experiencia {
        scroll-margin-top: 20px;
        background-image: url(img/pexels-hasan-albari-1229861.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #6b6b6b;
        background-blend-mode: multiply;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    h3 {
        font-size: 5vh;
        padding: 15px;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    main>.experiencia>div {
        margin-bottom: 40px;
    }
    
    main>.experiencia>div>p {
        width: 100%;
        text-align: left;
        font-size: 3.5vh;
        padding-bottom: 20px;
    }
    
    main>.experiencia>div>p,
    main>.experiencia>h3 {
        color: white;
        width: 100%;
        line-height: 1.6;
    }
    
    main>.experiencia>a {
        color: white;
        border: 1px solid #64FFDA;
        padding: 20px;
        border-radius: 10px;
        width: fit-content;
        font-weight: bold;
        transition: 1s;
        height: fit-content;
    }
    
    main>.experiencia>a:hover {
        transform: scale(1.1);
        background-color: #64FFDA;
        color: black;
        box-shadow: 0 0 10px #64FFDA;
    }
    
    main>.proyectos {
        text-align: center;
        scroll-margin-top: 70px;
    }
    
    main>.proyectos>.proyecto {
        text-align: center;
        background: lightgrey;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        color: black;
        display: flex;
        flex-wrap: wrap;
        transition: 1s;
    }
    
    main>.proyectos>.proyecto:hover {
        transform: scale(1.03);
        box-shadow: black 0 0 10px;
    }
    
    main>.proyectos>.proyecto>p {
        width: 100%;
        font-size: 20px;
    }
    
    main>.proyectos>.proyecto>.icono {
        float: center;
        width: 45%;
        text-align: center;
        font-size: 50px;
        height: 80px;
    }
    
    main>.proyectos>.proyecto>.nombreProyecto {
        width: 55%;
        height: 80px;
    }
    
    main>.proyectos>.proyecto>.nombreProyecto>h4 {
        font-size: 25px;
        height: 100%;
        text-align: left;
        padding-top: 15px;
    }
    
    main>.tecnologias {
        scroll-margin-top: 30px;
        background-image: url(img/pexels-negative-space-160107.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #6b6b6b;
        background-blend-mode: multiply;
        padding: 50px;
        text-align: center;
        color: white;
    }
    
    main>.tecnologias>h3 {
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
    }
    
    main>.tecnologias>ul {
        width: 100%;
        height: 100%;
    }
    
    main>.tecnologias>ul>li {
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }
    
    main>.tecnologias>ul>li>p {
        width: 100%;
        text-align: center;
        text-shadow: 5px 0px 4px black;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    
    main>.contacto>form {
        text-align: center;
        margin: 10px;
    }
    
    main>.contacto>form>input,
    main>.contacto>form>textarea,
    main>.contacto>form>button {
        width: 90%;
        margin: 10px 0;
        font-size: 20px;
        border-radius: 10px;
        border: black 2px solid;
        padding: 5px;
        background: none;
        transition: 1s;
        outline: none;
    }
    
    main>.contacto>form>input,
    main>.contacto>form>textarea {
        text-align: left;
    }
    
    main>.contacto>form>input:focus,
    main>.contacto>form>textarea:focus {
        transform: scale(1.1);
        box-shadow: 0 0 20px #64FFDA inset;
    }
    
    main>.contacto>form>button {
        text-align: center;
        transition: 1s;
    }
    
    main>.contacto>form>button:hover {
        transform: scale(1.1);
        background: #64FFDA;
        box-shadow: 0 0 20px white inset;
        box-shadow: 0 0 10px #64FFDA;
    }
    
    .contacto {
        background: white;
    }
    
    .contacto>div>div {
        text-align: center;
        padding: 20px;
        margin: 20px;
        background: #e6e6e6;
        color: black;
        border-radius: 10px;
    }
    
    .contacto>div>div>* {
        text-align: center;
        padding: 5px;
        margin: 5px;
        font-size: 25px;
    }
    
    .contacto>div>div>i {
        font-size: 70px;
    }
    
    footer {
        border-top: white 2px solid;
        background: black;
        color: white;
        padding: 10px;
        text-align: center;
    }
    
    footer>div {
        width: 100%;
        text-align: center;
        height: fit-content;
        font-size: 20px;
    }
    
    footer>.redes {
        width: 100%;
        height: fit-content;
    }
    
    footer>.redes>a {
        display: block;
        width: 33%;
        color: white;
        float: left;
        text-align: center;
        font-size: 50px;
    }
    
    footer>.redes>.footerWhatsapp {
        color: #0DC143;
        transition: 1s;
    }
    
    footer>.redes>.footerWhatsapp:hover {
        text-shadow: 0 0 30px #0DC143;
    }
    
    footer>.redes>.footerLinkedin {
        color: #1EACFF;
        transition: 1s;
    }
    
    footer>.redes>.footerLinkedin:hover {
        color: #1EACFF;
        text-shadow: 0 0 30px #1EACFF;
    }
    
    footer>.redes>.footerInstagram {
        color: #BF4476;
        transition: 1s;
    }
    
    footer>.redes>.footerInstagram:hover {
        color: #BF4476;
        text-shadow: 0 0 30px #BF4476;
    }
    
    footer>.fa {
        display: inline;
        font-weight: normal;
        font-size: 15px;
    }
    
    footer>.fa>a {
        display: inline;
        color: white;
    }
    
    .menu {
        display: none;
    }
    
    .reveal {
        position: relative;
        transform: translateY(50px);
        opacity: 0;
        transition: all 1.5s ease;
    }
    
    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
    
    @media only screen and (min-width:768px) {
        main>.proyectos>.proyecto {
            margin: 20px 20%;
        }
        main>.experiencia>h3 {
            padding: 10px;
            font-size: 40px;
        }
        main>.experiencia>div>p {
            font-size: 30px;
            padding: 10px
        }
        main>.experiencia>a {
            padding: 30px;
            font-size: 25px;
        }
        .menu {
            display: inline;
        }
        main>.contacto {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        main>.contacto>h3 {
            width: 100%;
        }
        main>.contacto>form,
        main>.contacto>div {
            width: 50%;
            margin: 0;
            padding: 0 80px;
        }
    }