$background:#212121;
$divBackground :#262626;
$social:#3a3a3a;
$navBackground :#262626;
$gradient:linear-gradient(45deg, rgba(0, 255, 136, 1) 26%, rgba(0, 254, 255, 1) 78%);
$navListItems:white;
$borderButtons:rgba(0, 254, 255, 1);
$borderButtonsGreen:rgba(0, 255, 136, 1);
$textColor: white;