@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #64FFDA;
    position: sticky;
    top: 0;
    grid-area: header;
    background-color: #153565;
    z-index: 1000;
    height: 85px;
    box-shadow: 0 0 10px inset #64FFDA;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 25px;
}

.hamburger {
    padding-top: 25px;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    /*  margin-left: 5rem; */
    padding: 10px;
}

.nav-link {
    font-size: 19px;
    font-weight: 400;
    color: white;
}

.nav-link:hover {
    color: #64FFDA;
}

@media only screen and (max-width: 1000px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 85px;
        flex-direction: column;
        background-color: #0f2649;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        border: 1px solid #64FFDA;
        box-shadow: 0 0 10px inset #64FFDA;
    }
    .nav-menu.active {
        top: 85px;
        left: 0;
        right: 0;
    }
    .nav-item {
        padding: 20px;
        margin: 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

body>div {
    min-height: 700px;
}